<header class="{{ page.dark_header }}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="logo">
          <a href="{{ site.baseurl }}/">
            <img alt="Image" src="{{ "/assets/img/logo.png" | prepend: site.baseurl | prepend: site.url }}">
          </a>
        </div>
        <ul class="horizontal">
          <li><a href="{{ "/blog" | prepend: site.baseurl | prepend: site.url }}">Blog</a></li>
          <li><a href="https://github.com/monicahq/monica">Source code on GitHub</a></li>
          <li><a href="https://app.monicahq.com" class="cta">Create account or sign in</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="hamburger">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="menu">
          <span>Menu</span>
          <a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}">
            <img alt="Image" src="{{ "/assets/img/logo.png" | prepend: site.baseurl | prepend: site.url }}">
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="nav navbar-nav">
          <li>
            <a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}">Home</a>
          </li>
          <li>
            <a href="{{ "/blog" | prepend: site.baseurl | prepend: site.url }}">Blog</a>
          </li>
          <li>
            <a href="{{ "/changelog" | prepend: site.baseurl | prepend: site.url }}">Release notes</a>
          </li>
          <li>
            <a href="https://app.monicahq.com">Create account or sign in</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> <!-- .hamburger -->
