---
---

@import 'simple-grid';

/****************
  DEFAULTS
/****************/
h1,
h2 {
  text-align: center;
}

h2 {
  font-weight: normal;
  font-size: 35px;
}

a {
  border-radius: 1px;
  color: #0366d6;
  padding: 1px 2px;

  &:hover {
    background-color: #0366d6;
    color: #fff;
    text-decoration: none;
  }
}

.btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;

  &.btn-primary {
    color: #fff;
    background-color: #28a745;
    background-image: -webkit-linear-gradient(270deg, #34d058 0%, #28a745 90%);
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);

    &:active {
      background-color: #279f43;
      background-image: none;
      border-color: rgba(27,31,35,0.5);
      box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
    }

    &:hover {
      background-color: #269f42;
      background-image: -webkit-linear-gradient(270deg, #2fcb53 0%, #269f42 90%);
      background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
      background-position: 0 -0.5em;
      border-color: rgba(27,31,35,0.5);
    }
  }

  &.btn-large {
    padding: 0.75em 1.25em;
    font-size: inherit;
    border-radius: 6px;
  }
}

.centered-paragraph {
  max-width: 500px;
  margin: 0 auto;
}

.dark-background {
  background-color: #384148;
  border-bottom: 0;
  color: #fff;

  a {
    color: #fff;

    &:hover {
      background-color: #fff;
      color: #2b3137;
    }

    &.cta {
     border: 1px solid #fff;

      &:hover {
        background-color: #fff;
        color: #384148;
      }
    }
  }
}

.horizontal {
  li {
    display: inline;
  }
}

.highlight {
  background-color: #faf785;
  padding: 1px 2px;
}

.hamburger {
  display: none;
}

/****************
  HOMEPAGE
/****************/
.homepage {
  h1 {
    font-weight: normal;
  }

  section {
    padding-top: 80px;
    padding-bottom: 80px;

    & > h2 {
      margin-top: 0;
      font-size: 50px;
    }
  }

  .main-screenshot {
    height: 630px;
    background-image: url('../img/homepage/background-cut.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    text-align: center;
  }

  .motivation {
    border-bottom: 1px solid #eee;

    ul {
      margin-top: 30px;

      li {
        margin-bottom: 10px;
      }
    }
  }

  .create-account {
    text-align: center;
    border-bottom: 1px solid #eee;

    .stats {
      font-style: italic;
    }

    .big-cta {
      position: relative;
      margin-top: 50px;

      &::before {
        background-image: url('../img/homepage/arrow.png');
        background-position: bottom center;
        background-repeat: no-repeat;
      }
    }
  }

  .how {
    border-bottom: 1px solid #eee;

    .illustration {
      margin: 60px 0 40px;
      text-align: center;
    }
  }

  .who {
    border-bottom: 1px solid #eee;

    .subheader {
      text-align: center;
    }
  }

  .why {
    border-bottom: 1px solid #eee;
  }

  .open-source {
    background-color: #32325c;
    color: #fff;

    h2 {
      font-weight: normal;
    }

    a {
      color: #fff;

      &:hover {
        background-color: #fff;
        color: #32325c;
      }
    }
  }

  .installation {
    border-bottom: 1px solid #eee;

    .installation-image {
      text-align: center;

      img {
        height: 91px;
      }
    }

    h4 {
      text-align: center;
    }

    .centered-paragraph {
      margin-top: 30px;
      margin-bottom: 50px;
    }

    .btn {
      margin: 0 auto;
    }

    .instructions {
      text-align: center;
    }
  }

  .register {
    background-color: #fafbfc;
    text-align: center;

    h2 {
      margin-top: 0;
    }

    p {
      max-width: 500px;
      margin: 0 auto;

      &.cta {
        margin-top: 30px;
      }
    }
  }
}

/****************
  BLOG
/****************/
.blog {
  .blog-header {
    position: relative;

    ul {
      position: absolute;
      right: 0;
      top: -1px;
      font-size: 15px;

      li {
        margin-left: 10px;
      }
    }

    h2 {
      text-align: left;
    }
  }

  article {
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 50px;
    padding: 30px;

    h1 {
      font-weight: normal;
      margin-bottom: 5px;

      a {
        text-decoration: none;
        color: #283C46;

        &:hover {
          background-color: transparent;
          border-bottom: 1px solid #eee;
        }
      }
    }

    p {
      width: 550px;
      margin: 0 auto 15px;

      &.date {
        text-align: center;
        margin-bottom: 20px;
      }
    }

    h2 {
      text-align: left;
      font-size: 25px;
      width: 550px;
      margin: 40px auto 15px;
    }

    img {
      border: 1px solid #eee;
      padding: 5px;
      max-width: 100%;
    }
  }

  &.post {
    .blog-header {
      margin-top: 60px;

      h2 {
        font-size: 20px;
        padding-top: 13px;
      }
    }

    .try {
      text-align: center;
      margin-bottom: 100px;
    }
  }
}

/****************
  SATELLITE PAGE
/****************/
.satellite {
  margin-top: 60px;

  .page_icon {
    position: absolute;
    left: 45%;
    top: 23px;
    border: 1px solid #eee;
    border-radius: 50%;
    padding: 15px 18px;
    background-color: #fff;
  }

  p {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  h1 {
    font-weight: normal;
    margin-top: 0;
  }

  .bordered-content {
    border: 1px solid #eee;
    border-radius: 6px;
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 60px;
  }

  &.changelog {
    .changes {
      ul {
        padding-bottom: 20px;
      }
    }

    h3 {
      font-weight: normal;
      font-size: 18px;
      margin-top: 20px;
    }
  }

  &.privacy {
    .last-update {
      color: #999;
      font-size: 15px;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

/****************
  HEADER
/****************/
header {
  padding-top: 10px;
  text-align: right;
  border-bottom: 1px solid #eee;

  .logo {
    float: left;

    a:hover {
      background-color: transparent;
    }
  }

  li {
    font-size: 15px;

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  .cta {
    border: 1px solid #0366d6;
    border-radius: 3px;
    padding: 5px 10px;
    text-decoration: none;

    &:hover {
      background-color: #0366d6;
      color: #fff;
    }
  }
}

/****************
  FOOTER
/****************/
footer {
  padding-top: 30px;
  padding-bottom: 40px;

  p,
  li,
  h4 {
    font-size: 16px;
  }

  h4 {
    margin-bottom: 10px;
    font-weight: normal;
    text-transform: uppercase;
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      margin-bottom: 5px;
    }
  }

  p {
    margin-bottom: 0;
    margin-top: 0;
  }

  .logo-footer {
    text-align: left;
    margin-bottom: 15px;
  }
}
